<div class='badge-container has-tooltip' data-tooltip-content="<b> {{ userBadge.badge.requiredPoints }} points </b> required to achieve this badge">
  <span class='bold'>
    {{ userBadge.badge.name }}
  </span>
  <span class='badge-icon' style='background: {{ userBadge.badge.colorHex }};'>
  </span>
</div>
