<div class='row forum-tabs-container no-padding-left no-padding-right'>
  <div class='col-xs-12 col-md-6 col-md-offset-6'>
    {{#each tabs as |tab| }}
      <div class='col-xs-3 forum-tab'>
        {{#link-to tab.linkTo }}
          {{ fa-icon tab.icon }} {{ tab.label }}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
</div>