<div class='profile-pic-container'>
  <img src='/assets/img/misc/profilepic.jpg' class='profile-pic' />
</div>
<div class='m-t-sm'>
  <i class="fa fa-flag">
  </i> Posted {{ moment-from-now model.createdAt }}
  <br />
</div>
<div class='m-t-sm'>
  <i class='fa fa-user m-r-sm'></i>By 
  {{#link-to 'user' model.user.id class='bold'}}
    {{ model.user.username }}
  {{/link-to}}
</div>
