{{input type='text' value=keywords placeholder='Search for a question topic' class='float-right search-forums-input form-control' }}
{{#if showResults }}
  <div class='search-results-container full-width shadow'>
    {{#each model as |question|}}
      {{ search-result-row model=question }}
    {{/each}}
  </div>
{{/if}}
