<div class='row font-sm'>
  <div {{ action 'goToQuestion' model.id }} class='col-xs-12 padding-left-sm'>
    {{#link-to 'question' model.id class='light-gray-text' }}
      <div class='full-width border-bottom search-result-row'>
        <div class='col-xs-12 bold title'>
          <span class='bold'>{{ model.title }}</span>
           by {{ model.user.username }}
        </div>
      </div>
    {{/link-to}}
  </div>
</div>
