<div class="row">
  <div class="col-sm-12 search-bg">
    <form class="form-horizontal">
      <div class="form-group ">
        <div class="col-xs-12 col-sm-10">
          {{input type='text' value=keywords placeholder='Search for a question topic' class='form-control' }}
        </div>
        <div class="hidden-xs col-sm-2 pull-in">
          <button type="submit" {{ action 'search' }}class="btn btn-default btn-block">Search</button>
        </div>
      </div>
      <div class="visible-xs form-group">
        <div class='col-xs-12'>
          <button type="submit" {{ action 'search' }}class="form-control btn btn-default btn-block">Search</button>
        </div>
      </div>
    </form>
    <div class='form-group'>
      {{#each model as |question|}}
        {{ question-container question=question postComment="postComment" getComments="getComments" }}
      {{/each}}
    </div>
  </div>
</div>