<div id="session-sidebar-wrapper">
  <ul class="session-sidebar-nav text-uppercase">
    <li>
      <a href="sessions/" id="intro-anchor" class="">
      <i class="fa fa-user fa-lg"></i> &nbsp; &nbsp; Intro
      </a>
    </li>
    <li>
      <a href="sessions/files" id="files-anchor">
        <i class="fa fa-file-o fa-lg"></i> &nbsp; &nbsp; &nbsp; Files
      </a>
    </li>
    <li>
      <a href="sessions/video" id="video-anchor">
      <i class="fa fa-video-camera fa-lg"></i> &nbsp; &nbsp; Video
      </a>
    </li>
    <li>
      <a href="sessions/call" id="audio-anchor">
      <i class="fa fa-phone fa-lg"></i> &nbsp; &nbsp; &nbsp; Call
      </a>
    </li>
  </ul>
</div>