<a class="dropdown-toggle" {{action 'toggleDropdown'}} data-toggle="dropdown" role="button" aria-expanded="false"> 
  <!--<img alt="user" src="/assets/img/get-image?name=<?php echo $_SESSION["Auth"]; ?>&size=thumb" class="img-circle navImage">-->
  <i class="fa fa-gear fa-lg"></i>
</a>
<ul class="dropdown-menu nav-menu" role="menu">
  <li>
    <a><i class="fa fa-line-chart fa-fw nav-icon-text"></i>&nbsp; Admin</a> 
  </li>
  <li>
    <a><i class="fa fa-user fa-fw nav-icon-text"></i>&nbsp; Profile</a> 
  </li>
  <li>
    <a><i class="fa fa-usd fa-fw nav-icon-text"></i>&nbsp; Finance</a> 
  </li>
  <li>
    <a><i class="fa fa-sign-out fa-fw nav-icon-text"></i>&nbsp; Sign out</a>
  </li>
</ul>