<nav class="navbar navbar-dash navbar-fixed-top navbar-bottom" role="navigation"> 
  <div class="container-fluid">
​
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="fa fa-leaf theme-text" aria-hidden="true"></span>
      </button>
      

        <a href="/requests" class="navbar-brand animated flipInX">
          <img alt="Mentormint" src="/assets/img/logos/default.png" style="max-height: 32px;"> 
        </a>
        <a href="/" class="navbar-brand animated flipInX">

        </a>
    </div>
​
    <div class="collapse navbar-collapse" id="navCollapse">
      <ul class="nav navbar-nav navbar-right">
        {{#if (registered currentUser) }}
          <li class="hidden-xs">
            <a class="dk-grey-text text-capitalize">
              <i class="fa fa-inbox fa-fw"></i>&nbsp;inboxes
            </a>
          </li>
        {{/if}}
        {{#if (guest currentUser) }}
          <li class='hidden-xs'>
            Welcome, guest.
          </li>
        {{/if}}
        <li class="hidden-xs">
          <a class="text-capitalize">
            <i class="fa fa-power-off fa-fw"></i>&nbsp; end session
          </a>
        </li>
        {{ top-nav-drop-down }}
        <li class="visible-xs">
          <a><i class="fa fa-line-chart fa-fw nav-icon-text"></i>&nbsp; Admin</a> 
        </li>
        <!--<li class="visible-xs">
          <a href="<?php echo $GLOBAL["url"]["sub"]; ?>/dashboard" class="text-capitalize">
            <i class="fa fa-clipboard fa-fw nav-icon-text"></i>&nbsp; dashboard
          </a>
        </li>-->
        <li class="visible-xs">
          <a class="text-capitalize">
            <i class="fa fa-paper-plane-o fa-fw nav-icon-text"></i>&nbsp; inbox
          </a>
        </li>
        <li class="visible-xs">
          <a>
            <i class="fa fa-heart-o fa-fw nav-icon-text"></i>&nbsp; MentorMint
          </a>
        </li> 
        <li class="visible-xs">
          <a><i class="fa fa-user fa-fw nav-icon-text"></i>&nbsp; Profile</a>
        </li>
        <li class="visible-xs">
          <a><i class="fa fa-usd fa-fw nav-icon-text"></i>&nbsp; Finance</a>
        </li>
        <li class="visible-xs">
          <a href="/account-signout"><i class="fa fa-sign-out fa-fw nav-icon-text"></i>&nbsp; Sign out</a>
        </li>

        {{#if (guest currentUser) }}
          <li><a href="/account-create?type=mentor"><strong>Become a Mentor</strong></a></li>
          <li><a href="/account-create?type=mentee"><strong>Find a Mentor</strong></a></li>
          <li><a href="/account-create">Sign Up</a></li>
          <li><a href="/account-signin">Log In</a></li>
        {{/if}}
      </ul>
    </div>
    
  </div>
</nav>