
/*
 * Themes for website
 * Copyright 2015 MentorMint, Inc.
 */
 $darkblue: #2c3e50;
 $asphalt: #34495e;
 $gray: #888;
 $lightgray: #aaa;
 $orange: #F95000;
 $lightorange: #f39c12;
 $green: #329854;
 $lightgreen: #76DA98;
 $teal: #43C3B3;
 $red: #c0392b;
 $lightred: #e74c3c;
@import 'main.scss';
@import 'font.scss';
@import 'sessions.scss';

html {
  position: relative;
  min-height: 100%;
  font-family: 'NexaLight', 'NexaBold', 'MontserratBold', 'VarelaRoundRegular';
}
.tiny-icon {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}
.mm-icon {
  height: 30px;
  width: 30px;
  border-radius: 30px;
}
a:hover {
  text-decoration: none !important;
}
.m-r-sm { margin-right: 8px; }
.m-r-md { margin-right: 16px; }
.m-r-lg { margin-right: 32px; }
.m-l-sm { margin-left: 8px; }
.m-l-md { margin-left: 16px; }
.m-l-lg { margin-left: 32px; }
.m-t-lg { margin-top: 32px; }
.m-t-xlg { margin-top: 64px; }
.m-t-md { margin-top: 16px; }
.m-t-sm { margin-top: 8px; }
.p-t-lg { padding-top: 32px; }
.p-t-md { padding-top: 16px; }
.p-t-sm { padding-top: 8px; }
.p-b-lg { padding-bottom: 32px; }
.p-b-md { padding-bottom: 16px; }
.p-b-sm { padding-bottom: 8px; }

p, input[type="text"], textarea, label {
  font-family: "VarelaRoundRegular" !important;
}

a:hover { cursor: pointer !important;}

li { list-style-type: none !important; }
h2,h1,h3,h4,h5 {
  font-family: 'MontserratBold' !important;
  color: #555;
}
textarea { resize: none; }
nav.navbar {
  background-color: #fff;

}

.bold { font-weight: bold !important; }
.fade-in {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from {
      top: -1000px;
      opacity: 0;
    }
    to   {
      top: 0px;
      opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
      top: -1000px;
      opacity: 0;
    }
    to   {
      top: 0px;
      opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
      top: -1000px;
      opacity: 0;
    }
    to   {
      top: 0px;
      opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
      top: -1000px;
      opacity: 0;
    }
    to   {
      top: 0px;
      opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
      top: -1000px;
      opacity: 0;
    }
    to   {
      top: 0px;
      opacity: 1;
    }
}

.nav-tabs {
  li { border-bottom: 2px solid #eee; }
}
.no-margins { margin: 0 !important;}
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important;}
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.padding-top-xs { padding-top: 5px !important; }
.padding-left-md { padding-left: 15px !important; }
.padding-left-lg { padding-left: 32px; }
.padding-bottom-lg { padding-bottom: 32px !important; }
.fixed { position: fixed !important; }
.border-bottom {
  border-bottom: 1px solid #ccc !important;
}
.border-left-blue { border-left: 3px solid $darkblue; }
@media (max-width: 640px) { .border-left-blue { border-left: none !important; }}
.inline-block { display: inline-block !important; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.float-right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.close-btn a {
  color: #aaa !important;
}
.pointer:hover { cursor: pointer; }
.font-xlg { font-size: 28px; }
.font-lrg { font-size: 21px; }
.font-md { font-size: 14px; }
.font-sm { font-size: 11px; }
.font-xs { font-size: 10px; }

.gray-text, .grey-text { color: $gray; }
.light-gray-text { color: $lightgray; }

.green-text, .green-link {
  color: $green;
  &:hover {
    color: $lightgreen;
  }
}
.close-btn:hover a{
  color: #eee !important;
}

.tag {
  background: $teal;
  border-radius: 3px;
  padding: 3px 7px;
  color: white;
  font-size: 14px;
}

.tags-input .tags-input {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0 !important;
}

.tag.label {
  margin: 5px !important;
}

.well {
  background-color: #efefef !important;
}

.btn-red {
  background: $red;
  color: white !important;

  &:hover {
    background: $lightred;
  }
}

.btn-green-caret {
  color: $green !important;
  &:hover {
    color: $lightgreen !important;
  }
}

.btn-green {
  background: $green;
  color: white !important;

  &:hover {
    background: $lightgreen !important;
  }
}

.btn-primary {
  border: none !important;
  text-transform: uppercase;
}

.btn-header {
  background-color: $lightgray;
  font-family: 'NationalRegular';
  border-radius: 3px;
  padding: 5px 12px !important;
  height: auto !important;
  display: block;
  font-size: 14px;
  color: white !important;
  &:hover, &:active  {
    background: $gray !important;
  }
}

.btn-orange {
  background: $orange !important;
  color: #fff !important;
  &:hover {
    background: $lightorange !important;
  }
}

.btn-fa {
  font-size: 21px;
  background: $darkblue;
  color: #fff !important;
  border: none !important;

  &:hover {
    background: $asphalt;
  }
}

.btn, .btn-default {
  font-family: "VarelaRoundRegular" !important;
  color: #888;
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.top-nav-btn-li {
  margin: 0px 12px;
}

li.dropdown { padding: 2px 24px !important; }

.search-forums-container {
  background: $teal;
}

.alert {
  margin-bottom: 0 !important;
}

.search-results-container {
  background: #fff;
  display: block;
  height: auto !important;
  -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: all 1s;
  .search-results-inner-padding {
    padding: 15px;
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 35px -6px rgba(143,143,143,1);
  -moz-box-shadow: 0px 3px 35px -6px rgba(143,143,143,1);
  box-shadow: 0px 3px 35px -6px rgba(143,143,143,1);
}

.navbar-container {
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  top: 0;
  position: relative;
}

.loading-container {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(255,255,255,0.4);
  top: 0px;
  z-index:9;
}

.loading-spinner-gif {
  top: calc(50% - 60px);
  left: calc(50%  - 60px);
  position: fixed;
}

.fast-transition {
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.forum-tabs-container {
  background: #eee;
  padding: 0 25px;
  max-height: 45px;
  .forum-tab, .forum-header-tab {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    font-family: "NexaBold" !important;
    font-size: 10px;
    color: black;
    height: inherit;
    text-transform: uppercase;
    transition: all 0.5s;
  }
  .forum-tab {
    border-top: 3px solid rgba(0,0,0,0.01);

    &:hover {
      cursor: pointer;
      background-color: $darkblue;
      color: white;
    }

    &.active {
      background-color: #fff !important;
      color: black !important;
      border-top: 3px solid $darkblue;
      padding-top: 13px !important;
    }
  }
}

.question-container-right-col {
  min-height: 100px;
}
.profile-pic-container {}

.profile-pic-lg {
  height: 80px;
  border-radius: 80px;
  margin: auto;
}

.profile-pic-xlg {
  height: 160px;
  margin: auto;
  border-radius: 160px;
}

.profile-pic-sm {
  height: 20px;
  border-radius: 20px;
  margin: auto;
}

.profile-pic {
  height: 40px;
  border-radius: 30px;
  margin: auto;
}

body.theme-main {
  background-color: #fff;
  color: #000000;
  font-family: "NexaLight" !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  min-height: 100%;
  margin-bottom: 60px;
  letter-spacing: 1px;
  /* Footer */
  /*Jumbotron
   ----------------------------------------------------------------------------------------------------------------*/
  /* Box
  ----------------------------------------------------------------------------------------------------------------*/
  /* Button
  ----------------------------------------------------------------------------------------------------------------*/
  /*Containers
   ----------------------------------------------------------------------------------------------------------------*/
  /*Featurette
   ----------------------------------------------------------------------------------------------------------------*/
  /*Input
   ----------------------------------------------------------------------------------------------------------------*/
  /*Images
   ----------------------------------------------------------------------------------------------------------------*/
  /*Communication Portal
   ----------------------------------------------------------------------------------------------------------------*/
  /*Match Card
   ----------------------------------------------------------------------------------------------------------------*/
  /*Request Card
   ----------------------------------------------------------------------------------------------------------------*/
  /*.mentee-heading a, .mentor-heading a {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
  }*/
  /*Chat Box
   ----------------------------------------------------------------------------------------------------------------*/
  /* creates triangle */
  /* Variant : for left positioned triangle
  ------------------------------------------ */
  /* Variant : left
  ------------------------------------------ */
  /* creates the larger triangle */
  /* creates the smaller  triangle */
  /*Nav Side Menu
   ------------------------------------------------------------*/
  /* Sidebar Styles */
  /*Sessions
   ------------------------------------------------------------*/
  /* Session Sidebar Styles */
  /*Navbar
   -----------------------------------------------------------------*/
  /*Navtabs
   -----------------------------------------------------------------*/
  /*Pagination
   -----------------------------------------------------------------*/
  /*Arrows
   -----------------------------------------------------------------*/
  /*Menus
   -----------------------------------------------------------------*/
 /*Panels
-----------------------------------------------------------------*/
  /* Search
   ----------------------------------------------------------------------------------------------------------------*/
  /*Tables
   -----------------------------------------------------------------*/
  /*Wells
   -----------------------------------------------------------------*/
  /* OTHER
   --------------------------------*/
}
body.theme-main #content {
  margin-bottom: 60px;
}
/*# sourceMappingURL=theme.css.map */
