/*
 * Themes for website
 * Copyright 2015 MentorMint, Inc. 
 */
 $darkblue: #2c3e50;
 $asphalt: #34495e;
 $gray: #888;
 $lightgray: #aaa;
 $orange: #F95000;
 $lightorange: #f39c12;
 $green: #43C3B3;
 $teal: #79CABF;

html {
  position: relative;
  min-height: 100%;
  font-family: 'NexaBold', 'MontserratBold', 'VarelaRoundRegular';
}
.m-t-lg { margin-top: 32px; }
.m-t-md { margin-top: 16px; }
.m-t-sm { margin-top: 8px; }
.p-t-lg { padding-top: 32px; }
.p-t-md { padding-top: 16px; }
.p-t-sm { padding-top: 8px; }
.p-b-lg { padding-bottom: 32px; }
.p-b-md { padding-bottom: 16px; }
.p-b-sm { padding-bottom: 8px; }

p, input[type="text"], textarea, label {
  font-family: "VarelaRoundRegular" !important;
}

a:hover { cursor: pointer !important;}

li { list-style-type: none !important; }
h2,h1,h3,h4,h5 {
  font-family: 'MontserratBold' !important;
  color: #555;
}
nav.navbar {
  background-color: #fff;

}

.bold { font-weight: bold !important; }

.nav-tabs {
  li { border-bottom: 2px solid #eee; }
}
.no-margins { margin: 0 !important;}
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important;}
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.padding-top-xs { padding-top: 5px !important; }
.padding-left-md { padding-left: 15px !important; }
.padding-left-lg { padding-left: 32px; }
.padding-bottom-lg { padding-bottom: 32px !important; }
.fixed { position: fixed !important; }
.border-bottom {
  border-bottom: 1px solid #ccc !important;
}
.border-left-blue { border-left: 3px solid $darkblue; }
@media (max-width: 640px) { .border-left-blue { border-left: none !important; }}
.inline-block { display: inline-block !important; }
.full-width { width: 100%; }
.full-height { height: 100%; }
.float-right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.close-btn a {
  color: #aaa !important;
}

.font-xlg { font-size: 28px; }
.font-lrg { font-size: 21px; }
.font-md { font-size: 14px; }
.font-sm { font-size: 11px; }
.font-xs { font-size: 10px; }

.gray-text, .grey-text { color: $gray; }
.light-gray-text { color: $lightgray; }

.close-btn:hover a{
  color: #eee !important;
}

.tag {
  background: $green;
  border-radius: 3px;
  padding: 3px 7px;
  color: white;
  font-size: 14px;
}

.btn-header {
  background-color: $green;
  font-family: 'NationalRegular';
  border-radius: 3px;
  padding: 5px 12px !important;
  height: auto !important;
  display: block;
  font-size: 14px;
  color: white !important;
  &:hover, &:active  {
    background: $teal !important;
  }
}

.btn-orange {
  background: $orange !important;
  &:hover {
    background: $lightorange !important;
  }
}

.btn-fa {
  font-size: 21px;
  background: $darkblue;
  color: #fff !important;
  border: none !important;

  &:hover {
    background: $asphalt;
  }
}

.btn, .btn-default {
  font-family: "VarelaRoundRegular" !important;
  color: #888;
}

.top-nav-btn-li {
  margin: 0px 12px;
}

li.dropdown { padding: 2px 24px !important; }

.search-forums-container {
  background: $green;  
}

.search-results-container {
  background: #fff;
  display: block;
  height: auto !important;
  -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition: all 1s;
  .search-results-inner-padding {
    padding: 15px;
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 3px 35px -6px rgba(143,143,143,1);
  -moz-box-shadow: 0px 3px 35px -6px rgba(143,143,143,1);
  box-shadow: 0px 3px 35px -6px rgba(143,143,143,1);
}

.navbar-container {
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  top: 0;
  position: relative;
}

.loading-container {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: auto;
  background: white;
  top: 0px;
}

.fast-transition {
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.forum-tabs-container {
  background: #eee;
  padding: 0 25px;
  .forum-tab {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    font-family: "NexaBold" !important;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }

    &.active {
      background-color: #fff !important;
      border-top: 3px solid $darkblue;
      padding-top: 13px !important;
    }
  } 
}

body.theme-main {
  background-color: #fff;
  color: #000000;
  font-family: "VarelaRoundRegular" !important;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  min-height: 100%;
  margin-bottom: 60px;
  letter-spacing: 1px;
  /* Footer */
  /*Jumbotron
   ----------------------------------------------------------------------------------------------------------------*/
  /* Box
  ----------------------------------------------------------------------------------------------------------------*/
  /* Button
  ----------------------------------------------------------------------------------------------------------------*/
  /*Containers
   ----------------------------------------------------------------------------------------------------------------*/
  /*Featurette
   ----------------------------------------------------------------------------------------------------------------*/
  /*Input
   ----------------------------------------------------------------------------------------------------------------*/
  /*Images
   ----------------------------------------------------------------------------------------------------------------*/
  /*Communication Portal
   ----------------------------------------------------------------------------------------------------------------*/
  /*Match Card
   ----------------------------------------------------------------------------------------------------------------*/
  /*Request Card
   ----------------------------------------------------------------------------------------------------------------*/
  /*.mentee-heading a, .mentor-heading a {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
  }*/
  /*Chat Box
   ----------------------------------------------------------------------------------------------------------------*/
  /* creates triangle */
  /* Variant : for left positioned triangle
  ------------------------------------------ */
  /* Variant : left
  ------------------------------------------ */
  /* creates the larger triangle */
  /* creates the smaller  triangle */
  /*Nav Side Menu
   ------------------------------------------------------------*/
  /* Sidebar Styles */
  /*Sessions
   ------------------------------------------------------------*/
  /* Session Sidebar Styles */
  /*Navbar
   -----------------------------------------------------------------*/
  /*Navtabs
   -----------------------------------------------------------------*/
  /*Pagination
   -----------------------------------------------------------------*/
  /*Arrows
   -----------------------------------------------------------------*/
  /*Menus
   -----------------------------------------------------------------*/
 /*Panels
-----------------------------------------------------------------*/
  /* Search
   ----------------------------------------------------------------------------------------------------------------*/
  /*Tables
   -----------------------------------------------------------------*/
  /*Wells
   -----------------------------------------------------------------*/
  /* OTHER
   --------------------------------*/
}
body.theme-main #content {
  margin-bottom: 60px;
}
/*# sourceMappingURL=theme.css.map */
