{{forum-header answers=true }}
      
<div class="tab-content p-top">
  <div class='container'>
    <h1>Answers</h1>
    {{#each answer in model}}
      {{ answers-container model=model}}
    {{/each}}
  </div>
</div>