{{forum-header answers=true }}
      
<div class="tab-content p-top">
  <div class='container'>
    <h1>Answers</h1>
    {{#each model as |answer|}}
      {{ answer-container model=answer goToQuestion='goToQuestion'}}
    {{/each}}
  </div>
</div>