<div class='container-fluid forum-index-container'>
  <div class='row m-t-lg'>
    <div class='h2 col-xs-12 text-left'>
      Getting started
    </div>
  </div>
  <div class='row m-t-lg'>
    <div class='h4 bold col-xs-12 text-left gray-text'>
      {{ fa-icon 'question-circle' class='font-xlg m-r-lg' }} <b>Create </b>, <b> answer</b>, <b>upvote</b> questions.
    </div>
  </div>
  <div class='row m-t-lg'>
    <div class='h4 col-xs-12 bold text-left gray-text'>
      {{ fa-icon 'user' class='font-xlg m-r-lg' }} Start mentoring sessions, find mentors/mentees in your organization/network.
    </div>
  </div>
  <div class='row m-t-lg'>
    <div class='h4 col-xs-12 bold text-left gray-text'>
      {{ fa-icon 'search' class='font-xlg m-r-lg' }} Browse interesting subjects and ideas in your network.
    </div>
  </div>
</div>
