<div class='container-fluid'>
  <div class='row'>
    <h1>
      Tag: {{ text }}
    </h1>
  </div>
  {{#each model as |question| }}
    {{ question }}
    {{question-container question=question}}
  {{/each}}
</div>