<div class='container-fluid profile-container'>
  <div class='row m-t-lg'>
    <div class='col-xs-12 col-sm-2 text-center'>
      <div class='profile-pic-container'>
        <img src='/assets/img/misc/profilepic.jpg' class='profile-pic-lg' />
      </div>
    </div>
    <div class='col-xs-12 col-sm-10 text-left'>
      <h4>
        Trending tags
      </h4>
      <div class='m-t-md font-sm'>
        Most popular tags:
      </div>
    </div>
  </div>

  <div class='row m-t-lg'>
    <div class='col-xs-12'>
    </div>
  </div>
</div>
