<div class='row'>
  <div class='col-xs-12'>
    {{#each sortedByCreatedAt as |answer| }}
      <div class='m-t-lg'>
        {{ answer-container answer=answer }}
      </div>
    {{/each}}
  </div>
</div>
