<div class='row'>
  <div class="col-sm-12">

    <div id="mainTable">
      <table class="table-simple">
        <tbody>
          {{#each sortedByActivityCount as |bookmark|}}
            {{ question-container question=bookmark.question bookmarkCallback='bookmarkCallback'}}
          {{/each}}
        </tbody></table>
      </div>
  </div>
</div>
