@font-face {
      font-family: 'MontserratBold';
      src: url('../fonts/MontserratBold.eot');
      src: url('../fonts/MontserratBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MontserratBold.woff2') format('woff2'),
      url('../fonts/MontserratBold.woff') format('woff'),
      url('../fonts/MontserratBold.ttf') format('truetype'),
      url('../fonts/MontserratBold.svg#MontserratBold') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'VarelaRoundRegular';
      src: url('../fonts/VarelaRoundRegular.eot');
      src: url('../fonts/VarelaRoundRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/VarelaRoundRegular.woff2') format('woff2'),
      url('../fonts/VarelaRoundRegular.woff') format('woff'),
      url('../fonts/VarelaRoundRegular.ttf') format('truetype'),
      url('../fonts/VarelaRoundRegular.svg#VarelaRoundRegular') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'NexaBold';
      src: url('../fonts/NexaBold.eot');
      src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NexaBold.woff2') format('woff2'),
      url('../fonts/NexaBold.woff') format('woff'),
      url('../fonts/NexaBold.ttf') format('truetype'),
      url('../fonts/NexaBold.svg#NexaBold') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'NexaLight';
      src: url('../fonts/NexaLight.eot');
      src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NexaLight.woff2') format('woff2'),
      url('../fonts/NexaLight.woff') format('woff'),
      url('../fonts/NexaLight.ttf') format('truetype'),
      url('../fonts/NexaLight.svg#NexaLight') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'NationalBold';
      src: url('../fonts/USC/NationalBold.eot');
      src: url('../fonts/USC/NationalBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/NationalBold.woff2') format('woff2'),
      url('../fonts/USC/NationalBold.woff') format('woff'),
      url('../fonts/USC/NationalBold.ttf') format('truetype'),
      url('../fonts/USC/NationalBold.svg#NationalBold') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'NationalBoldItalic';
      src: url('../fonts/USC/NationalBoldItalic.eot');
      src: url('../fonts/USC/NationalBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/NationalBoldItalic.woff2') format('woff2'),
      url('../fonts/USC/NationalBoldItalic.woff') format('woff'),
      url('../fonts/USC/NationalBoldItalic.ttf') format('truetype'),
      url('../fonts/USC/NationalBoldItalic.svg#NationalBoldItalic') format('svg');
      font-weight: normal;
      font-style: italic;
}
@font-face {
      font-family: 'NationalRegular';
      src: url('../fonts/USC/NationalRegular.eot');
      src: url('../fonts/USC/NationalRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/NationalRegular.woff2') format('woff2'),
      url('../fonts/USC/NationalRegular.woff') format('woff'),
      url('../fonts/USC/NationalRegular.ttf') format('truetype'),
      url('../fonts/USC/NationalRegular.svg#NationalRegular') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'NationalRegularItalic';
      src: url('../fonts/USC/NationalRegularItalic.eot');
      src: url('../fonts/USC/NationalRegularItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/NationalRegularItalic.woff2') format('woff2'),
      url('../fonts/USC/NationalRegularItalic.woff') format('woff'),
      url('../fonts/USC/NationalRegularItalic.ttf') format('truetype'),
      url('../fonts/USC/NationalRegularItalic.svg#NationalRegularItalic') format('svg');
      font-weight: normal;
      font-style: italic;
}
@font-face {
      font-family: 'vwk';
      src: url('../fonts/THF/vwk.eot');
      src: url('../fonts/THF/vwk.eot?#iefix') format('embedded-opentype'),
      url('../fonts/THF/vwk.woff2') format('woff2'),
      url('../fonts/THF/vwk.woff') format('woff'),
      url('../fonts/THF/vwk.ttf') format('truetype'),
      url('../fonts/THF/vwk.svg#vwk') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'BrandonGrotesqueBlack';
      src: url('../fonts/THF/BrandonGrotesqueBlack.eot');
      src: url('../fonts/THF/BrandonGrotesqueBlack.eot?#iefix') format('embedded-opentype'),
      url('../fonts/THF/BrandonGrotesqueBlack.woff2') format('woff2'),
      url('../fonts/THF/BrandonGrotesqueBlack.woff') format('woff'),
      url('../fonts/THF/BrandonGrotesqueBlack.ttf') format('truetype'),
      url('../fonts/THF/BrandonGrotesqueBlack.svg#BrandonGrotesqueBlack') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'BrandonGrotesqueBold';
      src: url('../fonts/THF/BrandonGrotesqueBold.eot');
      src: url('../fonts/THF/BrandonGrotesqueBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/THF/BrandonGrotesqueBold.woff2') format('woff2'),
      url('../fonts/THF/BrandonGrotesqueBold.woff') format('woff'),
      url('../fonts/THF/BrandonGrotesqueBold.ttf') format('truetype'),
      url('../fonts/THF/BrandonGrotesqueBold.svg#BrandonGrotesqueBold') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'BrandonGrotesqueLight';
      src: url('../fonts/THF/BrandonGrotesqueLight.eot');
      src: url('../fonts/THF/BrandonGrotesqueLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/THF/BrandonGrotesqueLight.woff2') format('woff2'),
      url('../fonts/THF/BrandonGrotesqueLight.woff') format('woff'),
      url('../fonts/THF/BrandonGrotesqueLight.ttf') format('truetype'),
      url('../fonts/THF/BrandonGrotesqueLight.svg#BrandonGrotesqueLight') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'ACaslonPro-Regular';
      src: url('../fonts/USC/ACaslonPro-Regular.eot');
      src: url('../fonts/USC/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/ACaslonPro-Regular.woff') format('woff'),
      url('../fonts/USC/ACaslonPro-Regular.ttf') format('truetype'),
      url('../fonts/USC/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
}
@font-face {
      font-family: 'ACaslonPro-Bold';
      src: url('../fonts/USC/ACaslonPro-Bold.eot');
      src: url('../fonts/USC/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/ACaslonPro-Bold.woff') format('woff'),
      url('../fonts/USC/ACaslonPro-Bold.ttf') format('truetype'),
      url('../fonts/USC/ACaslonPro-Bold.svg#ACaslonPro-Bold') format('svg');
      font-weight: normal;
      font-style: normal; 
}
@font-face {
      font-family: 'NationalWeb-Medium';
      src: url('../fonts/USC/NationalWeb-Medium.eot');
      src: url('../fonts/USC/NationalWeb-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/NationalWeb-Medium.woff') format('woff');
      font-weight: normal;
      font-style: normal;

}
@font-face {
      font-family: 'NationalWeb-MediumItalic';
      src: url('../fonts/USC/NationalWeb-MediumItalic.eot');
      src: url('../fonts/USC/NationalWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/USC/NationalWeb-MediumItalic.woff') format('woff');
      font-weight: normal;
      font-style: italic; 
}