<div class="tab-content p-top">
  <div class='container-fluid'>
    <div role="tabpanel" class="tab-panel active" id="qa">
      <div class="col-sm-12">
        <div id="mainTable">
          <table class="table-simple">
            <tbody>
              {{#each answers as |answer|}}
                <div class='row p-b-md m-t-lg'>
                  <div class='font-sm col-xs-10 col-xs-offset-1'>
                    From: {{#link-to 'question' answer.question class='bold' }}
                      {{ answer.questionTitle }}
                    {{/link-to}}
                  </div>
                </div>
                {{ answer-container answer=answer }}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
