<div class="tab-content p-top">
  <div class='container-fluid'>
    <div role="tabpanel" class="tab-panel active" id="qa">
      <div class="col-sm-12">
        <div id="mainTable">
          <table class="table-simple">
            <tbody>
              {{#each answers as |answer|}}
                <div class='row'>
                  <div class='col-xs-12'>
                    <h4>
                      {{#link-to 'question' answer.questionTitle }}
                        {{ answer.questionTitle }}
                      {{/link-to}}
                    </h4>
                  </div>
                </div>
                {{ answer-container answer=answer }}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>
</div>