{{ forum-header forumHeaderLabel='Questions' goToLink='goToLink' tabs=tabs }}

<div class="tab-content p-top" id="forum-questions-index-container">
  <div class='container-fluid'>
    {{#if qp.keywords }}
      <div class='row h4'>
        <div class="col-xs-12">
          Searching keywords <span class='bold'>
            "{{ qp.keywords }}"
          </span>
        </div>
      </div>
    {{/if}}
    <div role="tabpanel" class="row active" id="qa">
      <div class="col-sm-12">
        <div id="mainTable">
          <table class="table-simple">
            <tbody>
              {{#each model as |question|}}
                {{ question-container question=question }}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
