<div class="wrapper-body m-top-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 well-dash-heading">
        <h3 class="align-inline">Minting</h3>
      </div>
    </div>

    {{ search-forums searchItems=(action 'searchItems') }}

    <div class="row tabpanel m-top-lg">
      {{ liquid-outlet }}
    </div>
      
  </div>
</div>