<div class="wrapper-body m-top-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 well-dash-heading">
        <h3 class="align-inline">Minting</h3>
      </div>
    </div>
    {{ flash-messages flashMessages=flashMessages }}
    {{ search-forums searchItems=(action 'searchItems') model=model }}

    <div class="row tabpanel m-top-sm">
      {{ liquid-outlet }}
    </div>
      
  </div>
</div>