<div class="wrapper-body">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 well-dash-heading">
        <h3 class="align-inline">Minting</h3>
      </div>
    </div>

    {{ forum-center }}

    <div class="row tabpanel">
      {{ liquid-outlet }}
    </div>
      
  </div>
</div>