SESSIONS
{{ side-nav }}
<div class='row'>
  <div class='col-md-8'>
    <div class='sessions-container'>
      {{ liquid-outlet }}
    </div>
  </div>
  <div class='col-md-4'>
    {{ chat-room }}
  </div>
</div>