<div class='container-fluid'>
  <div class='row m-t-lg'>
    <div class='col-xs-12'>
      <h3>
        Questions tagged with "{{ model.text }}""
      </h3>
    </div>
  </div>
  {{#each model.taggings as |tagging| }}
    {{question-container question=tagging.taggable}}
  {{/each}}
</div>